DB_USER=postgres
DB_PASSWORD=sua_senha_aqui

DB_NAME_AUTH=auth_db
DB_NAME_SOLICITACAO=solicitacao_db
DB_PORT=5432

JWT_SECRET=seu_jwt_secret_aqui
JWT_EXPIRATION=86400000

PORT_AUTH=8085
PORT_SOLICITACAO=8082